<div class="label-input__elementos"
     id="arteDescentralizada--frente" style="display: none">



    <label for="valorArteBordaFrente">Distância arte e borda:</label>
    <input type="number"
           id="valorArteBordaFrente"
           data-max-altura="<%= dimensoes.Borda %>"
           data-altura-copo="<%= dimensoes.Borda %>">

    <div class="label-input__feedback">
        <img src="imagens/icones/info.svg"
             alt="icone de informação"
             class=label-input__icone"
             id="arteBordaIconeFrente">
        <span id="feedbackArteBordaFrente">Distância min de <%= dimensoes.Borda%>mm</span>
    </div>


    <label for="arteDescentralizadaFrente">Altura da arte:</label>
    <input type="number"
           id="arteDescentralizadaFrente"
           data-max-altura="<%= dimensoes.Fundo %>"
           data-altura-copo="<%= dimensoes.Fundo %>">

    <div class="label-input__feedback">
        <img src="imagens/icones/info.svg"
             alt="icone de informação"
             class=label-input__icone"
             id="alturaIcone--frente">
        <span id="feedbackAltura--frente">Altura máx de <%= dimensoes.Altura%>mm</span>
    </div>




    <label for="arteFundoFrente">Distância Arte e fundo:</label>
    <input type="number"
           id="arteFundoFrente"
           data-max-altura="<%= dimensoes.Altura %>"
           data-altura-copo="<%= dimensoes.AlturaCopo %>">

    <div class="label-input__feedback">
        <img src="imagens/icones/info.svg"
             alt="icone de informação"
             class=label-input__icone"
             id="alturaIcone--frente">
        <span id="feedbackAltura--frente">Distância min de <%= dimensoes.Fundo%>mm</span>
    </div>


    <!--                Largura-->
    <label for="larguraCentralizada--frente">Largura da arte:</label>
    <input type="number"
           id="larguraCentralizada--frente"
           data-max-largura="<%= dimensoes.Largura %>">
    <!--        Feedback Largura-->
    <div class="label-input__feedback">
        <img src="imagens/icones/info.svg"
             alt="icone de informação"
             class=label-input__icone"
             id="larguraIcone--frente">
        <span id="feedbackLargura--frente">Altura máx de <%= dimensoes.Largura%>mm</span>
    </div>


    <script>
        const valorArteBordaFrente = document.getElementById('valorArteBordaFrente');

        const arteBordaIconeFrente = document.getElementById('arteBordaIconeFrente');
        const arteIconeFrente = document.getElementById('arteIconeFrente');
        const arteFundoIconeFrente = document.getElementById('arteFundoIconeFrente');

        const feedbackArteBordaFrente = document.getElementById('feedbackArteBordaFrente');
        const feedbackArteFrente = document.getElementById('feedbackArteFrente');
        const feedbackArteFundoFrente = document.getElementById('feedbackArteFundoFrente');

        const alturaMaxCopo = parseFloat(valorArteBordaFrente.dataset.);

    </script>


</div>