<div class="mockup-imagem__total sobretampa">
    <img class="mockup-imagem__produto"
         id="sobretampaEscolhida"
         src="/imagens/<%= title %>/sobretampa/<%- sobretampas[0].nome %>.png">
</div>


<div class="mockup-imagem__total tampa">
    <img class="mockup-imagem__produto"
         id="tampaEscolhida"
         src="/imagens/double-tampa/<%- tampas[0].nome %>.png">
</div>

<div class="mockup-imagem__total copo">
    <img class="mockup-imagem__produto"
         id="copoEscolhido"
         src="/imagens/double-copo/<%- copos[0].nome %>.png">
</div>

<div class="mockup-imagem__total fundo">
    <img class="mockup-imagem__produto"
         id="fundoEscolhido"
         src="/imagens/double-fundo/<%- fundos[0].nome %>.png">
</div>