<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <%- include('../partials/metadata') %>
</head>
<body data-title="<%- title %>">
<header>
    <%- include('../partials/navigation') %>
</header>
<main class="mockup__main">
    <!--        Mockup para exportar-->
    <div class="mockup-exportar" id="export">
        <!--        Projecao para Aprovação-->
        <aside class="projecao-aprovacao">
            <%- include('../partials/projecao-aprovacao/logo-header') %>
            <%- include('../partials/projecao-aprovacao/composicao') %>
            <script src="/scripts/composicao/umProduto.js"></script>
            <%- include('../partials/projecao-aprovacao/aviso-contato') %>
        </aside>

        <aside class="mockup-imagem">
            <%- include('../partials/mockup-imagem/produto-qr-code') %>
            <%- include('../partials/mockup-imagem/exibir-produto') %>
            <%- include('../partials/mockup-imagem/exibir-logo') %>
            <h4 class="mockup-imagem__direcao">Centro</h4>
            <%- include('../partials/mockup-imagem/exibir-cor-gravacao') %>
            <%- include('../partials/mockup-imagem/exibir-medidas-simples') %>
        </aside>
    </div>
    <aside class="mockup-info">
        <!--        Altura e largura da arte-->
        <%- include('../partials/mockup-info/medidas-gravacao-simples') %>
        <script src="scripts/medidasGravacaoSimples.js"></script>
        <%- include('../partials/mockup-info/qr-code') %>
        <%- include('../partials/mockup-info/enviar-logo') %>
        <script src="scripts/carregarLogo.js"></script>
        <%- include('../partials/mockup-info/cor-gravacao') %>
        <script src="scripts/cores-gravacao/escolherUma.js"></script>
        <!--        Download do Mockup-->
        <button id="downloadMockup" class="botao__primario">Download</button>
        <script src="scripts/downloadMockup.js"></script>
    </aside>
</main>

</body>
</html>
